html {
    font-size: 12px;
}

h1 {
    font-size: 100%;
}

button {
    background: #fff;
}
button[aria-selected] {
    background: tomato;
}

input[type="range"] {
    box-sizing: border-box;
    margin: 0;
    width: 200px;
    max-width: 100%;
}

img {
    cursor: zoom-in;
}
img[width] {
    cursor: zoom-out;
}